<app-menu-top></app-menu-top>
<div class="row">
  <app-menu-lateral></app-menu-lateral>
  <div class="container">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
    </div>
    <table class="table table-hover" *ngIf='pendons && pendons.length'>
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Código del pendón</th>
              <th scope="col">Título del proyecto</th>
              <th scope="col">Introduccion</th>
              <th scope="col">Estado</th>
              <th scope="col">Acción</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pendon of pendons; index as i">
              <th scope="row"> {{ i + 1 }}</th>
              <td> {{ pendon.idPendon }}</td>
              <td>{{ pendon.titulo }}</td>
              <td>{{ pendon.introduccion }}</td>
              <td>{{ pendon.estado }}</td>
              <td> <a routerLink='/evaluarPendon/{{pendon.idPendon}}'>evaluar</a></td>
          </tr>
      </tbody>
  </table>
  </div>
</div>

