<footer id="con-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-4">
                <h4 class="footer-title">Plataforma virtual Universidad popular del Cesar</h4>
                <p class="footer-content text-justify">Este sitio es un recurso pedagógico y tecnológico,
                    dirigido a la comunidad de ingeniería de sistemas, con el fin de fortalecer la gestión educativa
                    en su contexto misional.</p>
    
            </div>
            <div class="col-md-6 mb-md-0 mb-4">
    
                <!-- Content -->
                <h4 class="footer-title">CONTACTOS</h4>
                <p class="footer-content text-center">
                    Universidad Popular del Cesar Sede Sabanas<br>
    
                    Horarios de Atención: Lunes - Viernes (08.00 - 17.00 P.m)<br>
    
                    Telefono: 5849233<br>
    
                    Correo: ingsistemas@unicesar.edu.co
                </p>
    
            </div>

        </div>
        <div class="mt-2">
            <h4 class="footer-title"> © 2020 Copyright:</h4>
            <p class="footer-content"> INGENIERÍA DE SISTEMAS UNIVERSIDAD POPULAR DEL CESAR 2020. DISEÑO Y PROGRAMACIÓN ANA ANGULO Y JOEL GARCIA</p>
        </div>
    </div>
   
</footer>