<app-nav-menu></app-nav-menu>
<div class="container">
    <div class="info">
        <h4>Nuestra Misión</h4>
        <p>
            Formar Ingenieros de Sistemas, con amplios conocimientos en la gestión de las tecnologías de la información y la comunicación con énfasis en el<br>
            desarrollo de software, a través de una formación integral basada en el actuar profesional, investigativo, ético, social, moral y tecnológico; con capacidad <br>
            de responder a los constantes cambios y retos que ofrece el entorno, permitiéndole alcanzar su propia realización.
        </p>

    </div>
    <div class="info">
        <h4>Nuestra Visión</h4>
        <p>
            El programa de Ingeniería de Sistemas proyecta una formación con calidad enmarcada en el conocimiento, desarrollo, investigación, innovación y nuevas <br>
            tecnologías de la información y comunicación; acorde a los cambios tecnológicos y enfoque hacia la integración y desarrollo de proyectos que generen <br>
            impacto social en el contexto regional, nacional e internacional
        </p>

    </div>
    <div class="info">
        <h4>¿Qué es exposoftware?</h4>
        <p>
            Es la jornada científica de investigación, que se oferta para la carrera de Ingeniería de sistemas en donde los alumnos interesados en participar <br>
            pueden solicitarle a un docente que los represente como lider de proyecto para el apoyo y seguimiento de este mismo, por esta razón son los docentes<br>
            quienes incriben el proyecto y a los autores.<br>
            Algunos requisitos para participar son: estar activo en tercer (3) semestre adelante y tener un docente que los represente.
        </p>

    </div>
    <div class="info">
        <h4>Ayuda?</h4>
        <div class="form-row">
            <div>
                <a href="https://www.youtube.com/watch?v=PKf7U8cifp0" target="_blank">
                    <img src="../../../assets/Admin.png" alt="Ayuda Comité evaluador">
                </a>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=dHUe7-aSIAA" target="_blank">
                    <img src="../../../assets/lider.png" alt="Ayuda Lider de proyecto">
                </a>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=fDZVmKPclpQ" target="_blank">
                    <img src="../../../assets/inscripcion.png" alt="Ayuda inscripción">
                </a>
            </div>
        </div>
        

    </div>

</div>
