<app-menu-top></app-menu-top>
<div class="row">
  <app-menu-lateral></app-menu-lateral>
  <div class="container">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
    </div>
    <table class="table table-hover" *ngIf='proyectos && proyectos.length'>
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo</th>
              <th scope="col">Docente</th>
              <th scope="col">Título</th>
              <th scope="col">Estado</th>
              <th scope="col">Acción</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let proyecto of proyectos|filtroInscripcion:searchText;index as i">
              <th scope="row"> {{ i + 1 }} </th>
              <td>{{ proyecto.idProyecto }} </td>
              <td>{{ proyecto.identificacion }}</td>
              <td>{{ proyecto.titulo }}</td>
              <td>{{ proyecto.estado }}</td>
              <td> <a routerLink='/evaluaInscripcion/{{proyecto.idProyecto}}'>evaluar</a></td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
