<div class="container">
    <input type="number" name="idProyecto" [(ngModel)]="idProyecto" class="form-control" />
    <div class="form-row">
        <div class="form-group">
            <div *ngFor="let item of itemsRubrica">
                    <div class="row">
                        <div class="col">
                            <label >Item:  {{ item.item }}</label>
                        </div>
                    </div>
                    <div class="row">
                            <label>Descripción: </label>
                            <div class="col">
                                <label>{{ item.descripcion }}</label>
                            </div>
                    </div>
                <br>
            </div>
        </div>
        <div class="form-group">
            <h6>Valoracion 0-100</h6>
            <div class="col-3">
                <input type="number" name="valor1" [(ngModel)]="valor1" class="form-control" />
            </div>
            <div class="col-3">
                <input type="number" name="valor2" [(ngModel)]="valor2" class="form-control" />
            </div>
            <div class="col-3">
                <input type="number" name="valor3" [(ngModel)]="valor3" class="form-control" />
            </div>
        </div>
    </div>
    <button id="botones" class="btn btn-success" type="button" (click)="add()">Registrar</button>
</div>