.btn-group{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-primary{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

H4 { 
    margin-top: 6mm;
}
label, h5,h6, h4{
    color:#202124;
    font-family: Arial, Helvetica, sans-serif;
}