label, h5,h6{
    color:#202124;
    font-family: Arial, Helvetica, sans-serif;
}

.obligatorio{
    font-size: 15px;
    color: red;
}

#botones{
    margin: 15px;
}

.container{
    margin-left: 80px;
	padding-left: 80px;
}