<app-menu-top></app-menu-top>
<div class="row">
    <app-menulaterallider></app-menulaterallider>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
               <pre>
                   Tamaño:
                   Letra:
                   Material:
                   Fuentes:
               </pre>
            </div>
            <div class="col">
                <h6>Diseño del pendón</h6>
                <img src="../../../assets/poster.png" alt="Diseño del pendón" width="500px" height="500px">
            </div>
        </div>
    </div>
</div>